*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
}

header{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(186, 182, 252, 0.8),rgba(255, 252, 255, 0.2)), url('/Resources/Bg.jpg');
    background-size: cover;
}

nav{
     width: 100%;
     height: 80px;
     color:black;
     display: flex;
     justify-content:space-between;
     align-items: center;
}

.logo
{
    display: flex;
    font-family: vast shadow;
    font-size: 25px; 
    font-style: bold;
    padding-left: 30px;
}

.menu{
    margin-right: 40px;
}

.menu a{
    text-decoration: none;
    font-size: 18px ;
    font-family: poppins;
    color: rgb(9, 9, 9);
    padding: 10px 20px;
}

.menu a i{
    padding: 10px;
}

.menu a:hover{
    text-decoration: underline;
    transition: 3s;
    transform: translateY(-2.5px);
}

.admin a{
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    background-color:rgb(142, 114, 254);
    border: 2px solid rgb(111, 80, 174) ;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    letter-spacing: 2px;
    border-radius: 20px;
}

.Description-txt{
    max-width: 800px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: black;
    font-family: poppins;
    font-size: 2em;
}

.Description-txt a{
    font-family: Exo 2;
    font-size: 20px;
    text-decoration: none;
    background-color:rgb(194, 180, 242);
    border: 2px solid rgb(98, 71, 151);
    color: rgb(45, 42, 42);
    padding: 10px 20px;
    letter-spacing: 5px;
    border-radius: 20px;
}
.Description-txt a:hover,.admin a:hover{
    background-color: transparent;
    transition: 0.3s;
}