.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #e7edf3;
  padding: 10px;
}

.navbar-item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.navbar-item svg {
  width: 24px;
  height: 24px;
}

.navbar-item p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
