
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Vast+Shadow&display=swap');

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    border: none;
    
}
div.homescreen{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(186, 182, 252, 0.8),rgba(255, 252, 255, 0.2)), url('/images/Bg.jpg')no-repeat;
    background-size: cover; 
    background-position: center; 
}
.navbar{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    line-height: normal;
}

.logo{
    display: flex;
    align-items: center;
    font-family:"vast shadow";
    font-size: 25px; 
    font-style: bold;
    padding-left: 30px;
    font-weight: 500;
    font-size: 20px;
}

.menu{
    display: flex;
    align-items: center;
}
.menu a {
    color: black;
    display: flex;
    align-items: center;
    margin: 0 15px; 
    text-decoration: none; 
    padding: 10px 20px;

}
.menu a:hover{
    transition: 1s;
    transform: translateY(-4px);
  }
.menu a i{
    color: black;
}

.admin {
    margin-right: 50px; 
}

.admin a{
    font-family: sans-serif;
    font-size: 15px;
    outline: none;
    text-decoration: none;
    background-color:rgb(142, 114, 254);
    border: 2px solid rgb(111, 80, 174) ;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    letter-spacing: 2px;
    border-radius: 20px;
  }

  .description{
   width: 100%;
   height: calc(100vh - 80px);
  }
  
  .Description-txt{
    max-width: 800px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: black;
    font-family: poppins;
    font-size: 2em;
}

.Description-txt a{
    font-family: Exo 2;
    font-size: 20px;
    text-decoration: none;
    background-color:rgb(194, 180, 242);
    border: 2px solid rgb(98, 71, 151);
    color: rgb(45, 42, 42);
    padding: 10px 20px;
    letter-spacing: 5px;
    border-radius: 20px;
}
.Description-txt a:hover,.admin a:hover{
    background-color: transparent;
    transition: 0.3s;
}